*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--bg-color: #c5e4e7;
	--main-dark-green: #00474b;
	--input-light-green: #f3f9fa;
	--hover-green: #26c2ae;
	--var-color: #5e7a7d;
}

body {
	display: flex;
	justify-content: center;
	margin: 0;
	background-color: var(--bg-color);
	font-family: 'Space Mono', monospace;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

button,
input {
	font-family: 'Space Mono', monospace;
	cursor: pointer;
}

html {
	scroll-behavior: smooth;
	font-size: 62.5%;
}

.heading {
	font-size: 2.4rem;
	padding: 2em 0;
	display: flex;
	color: var(--main-dark-green);
	flex-direction: column;
	text-transform: uppercase;
	text-align: center;
	gap: 0.1em;
	font-weight: bold;
	letter-spacing: 5px;
}

.tip-calc {
	position: relative;
	width: 100%;
	max-width: 920px;
	/* height: 100px; */
	background-color: white;
	border-radius: 24px 24px 0 0;
	padding: 1em 4em;
}

.var-name {
	font-size: 1.6rem;
	color: var(--var-color);
	font-weight: bold;
	margin-bottom: 0.5em;
	margin-top: 2em;
}

.input-content {
	display: flex;
	align-items: center;
	background-color: var(--input-light-green);
	border-radius: 8px;
	padding: 8px 12px;
}

label {
	color: var(--var-color);
	margin-right: 8px;
	font-size: 18px;
}

.input {
	background: transparent;
	border: none;
	font-size: 24px;
	color: var(--main-dark-green);
	font-weight: bold;
	width: 100%;
	outline: none;
	text-align: right;
	padding: 0em 1em;
}

/* Remove spinner buttons from number input */
.input::-webkit-inner-spin-button,
.input::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.tip-btn {
	width: 100%;
	padding: 0.3em 0;
	font-size: 2.4rem;
	font-weight: bold;
	color: white;
	border: none;
	border-radius: 8px;
	background-color: var(--main-dark-green);
	transition: background-color 0.3s, color 0.3s;
}

.tip-btn:hover {
	background-color: var(--bg-color);
	color: var(--main-dark-green);
}

.tip-amount-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1.5em;
}

.tip-input {
	background-color: var(--input-light-green);
	color: var(--main-dark-green);
}

.result-box {
	font-family: 'Space Mono', monospace;
	margin: 1em 0;
	padding: 2em;
	width: 100%;
	border-radius: 16px;
	background-color: var(--main-dark-green);
}

.result-content {
	padding: 0.8em 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: var(--bg-color);
	font-size: 1.4rem;
}

.bolded-text {
	font-size: 1.6rem;
	font-weight: bold;
	color: white;
}

.total {
	font-size: 3.2rem;
	font-weight: bold;
	color: var(--hover-green);
}

.reset-btn {
	width: 100%;
	border-radius: 8px;
	padding: 0.5em 0;
	background-color: var(--hover-green);
	color: var(--main-dark-green);
	font-size: 2rem;
	text-transform: uppercase;
	font-weight: bold;
	border: none;
	margin: 0.5em 0;
	transition: background-color 0.3s, color 0.3s;
}

.reset-btn:hover {
	background-color: var(--bg-color);
	color: var(--main-dark-green);
}

@media (min-width: 576px) {
	body {
		margin: 3em;
	}
}

@media (min-width: 966px) {
	body {
		align-items: center;
		height: 80vh;
	}

	.tip-calc {
		display: flex;
		gap: 30px;
		border-radius: 24px;
		padding: 4em;
	}

	.tip-amount-container {
		grid-template-columns: repeat(3, 1fr);
	}

	.result-box {
		margin: 0;
		padding: 4em;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.result-content {
		padding: 1.5em 0;
	}
}
